.tape-section {
  user-select: none;
  padding: 4rem 0;
  overflow-x: clip;
}

.tape-gradient {
  background: linear-gradient(
    to right,
    #6366f1,
    #8b5cf6
  ); /* emerald-300 to sky-400 */
  transform: rotate(-3deg);
  margin: 0 -4px;
}

.tape-container {
  display: flex;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.tape-scroll {
  display: flex;
  gap: 1rem;
  padding: 0.75rem 0;
  flex: none;
  animation: moveLeft 30s linear infinite;
}

.tape-item {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.tape-item span {
  color: #111827; /* gray-900 */
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.875rem; /* text-sm */
}

.star-icon {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-12deg);
  fill: #111827;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
