.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #0056b3;
  color: #0056b3;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.scroll-to-top-btn:hover {
  background-color: #0056b3;
  color: white;
  transform: scale(1.1);
}
