/* Base styles for both themes */
* {
  margin: 0;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light theme overrides */
:root {
  --bg-color: #abd1f7; /* Light blue-gray */
  --text-color: #333c4d; /* Dark blue-gray */
  --accent-color: #0066cc; /* Blue */
  --link-hover-color: #005bb5; /* Darker blue for hover */
}

/* Dark theme overrides */
body.dark {
  --bg-color: #151515; /* Dark background */
  --text-color: white; /* White text */
  --accent-color: #0dcaf0; /* Light cyan for accents */
  --link-hover-color: #005bb5; /* Darker blue for hover */
}

/* Apply CSS variables throughout the app */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
:root {
  --btn-shine-text-color: #007bff; /* Text color for light mode */
  --btn-shine-glow: rgba(0, 123, 255, 0.2); /* Shine color for light mode */
}

body.dark {
  --btn-shine-text-color: #4e90ff; /* Text color for dark mode */
  --btn-shine-glow: rgba(78, 144, 255, 0.2); /* Shine color for dark mode */
}

.shine-button {
  position: relative;
  overflow: hidden;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--btn-shine-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 0;
  transition: color 0.3s, border-color 0.3s;
  background: transparent;
}

.shine-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 30%; /* thinner */
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    var(--btn-shine-glow) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shine 2s linear infinite;
  pointer-events: none;
  z-index: 1;
  will-change: left;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 130%;
  }
}
