.coding-profiles-section {
  padding: 60px 10% 3rem 10%;
  text-align: center;
}

.coding-profiles-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.coding-profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  margin-top: 5rem;
  user-select: none;
}

.coding-profile-link {
  text-decoration: none;
  color: inherit;
}

.coding-profile-icon {
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.coding-profile-link:hover .coding-profile-icon {
  transform: scale(1.05);
}
