:root {
  --achieve-bg: #bcdffb;
  --achieve-border: #00ffff;
  --achieve-accent: #00ffff;
  --achieve-border-hover: #1f1f1f;
  --achieve-link-hover: #ff6347;
  --achieve-highlight1: #059669;
  --achieve-highlight2: #ffd700;
}

body.dark {
  --achieve-bg: #333;
  --achieve-border: #00ffff;
  --achieve-accent: #00ffff;
  --achieve-border-hover: #3498db;
  --achieve-link-hover: #ff6347;
  --achieve-highlight1: #34d399;
  --achieve-highlight2: #ffd700;
}

.achievements-section {
  padding: 60px 10% 2rem 10%;
}

.achievements-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.achievements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

.achievement-item {
  display: flex;
  align-items: flex-start;
  background-color: var(--achieve-bg);
  padding: 1rem;
  border-radius: 1rem;
  border-left: 5px solid var(--achieve-border);
  width: 100%;
}

.achievement-item:hover {
  border: 2px solid var(--achieve-border-hover);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  transition: 0.4s ease-out;
}

.achievement-icon {
  font-size: 2rem;
  color: var(--achieve-accent);
  margin-right: 1rem;
}

.achievement-text {
  font-size: 1.2rem;
  line-height: 1.5;
}

.achievement-link {
  margin-left: 0.5rem;
  color: var(--achieve-accent);
  text-decoration: none;
  transition: color 0.3s;
}

.achievement-link:hover {
  color: var(--achieve-link-hover);
}

@media (max-width: 768px) {
  .achievements-section h2 {
    font-size: 2rem;
  }

  .achievement-icon {
    font-size: 1.5rem;
  }

  .achievement-text {
    font-size: 1rem;
  }
}

.highlight1 {
  color: var(--achieve-highlight1);
  font-weight: bold;
}
.highlight2 {
  color: var(--achieve-highlight2);
  font-weight: bold;
}
